header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

header li {
    display: inline-block;
    margin: 20px;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover,
header a:active, .active {
    color: #fa923f;
}